[Desktop Entry]
Name=CadisWave
Comment=Elgato Wave Control for Linux
Exec=cadiswave --hide
Icon=cadiswave
StartupWMClass=io.github.RamaAditya49.CadisWave
Type=Application
Categories=AudioVideo;Audio;Mixer;
Terminal=false
