[Desktop Entry]
Name=OpenWave
Comment=Elgato Wave XLR Control for Linux
Exec=openwave
Icon=audio-input-microphone
Type=Application
Categories=Audio;Settings;
